<?php namespace PvPGNTracker\Templates; $title = 'Solicit'; ?>
<?php $nav = true; require( './header.inc.phtml' ); ?>

<div class="container">

  <h1><?=$title?></h1>
  <p class="lead">Solicit to the active server list.</p>

</div>

<?php require( './footer.inc.phtml' ); ?>
