html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 60px;
}
body > .container {
  padding: 60px 15px 0;
}
body > .footer {
  background-color: #f5f5f5;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  position: absolute;
  width: 100%;
}
body > .footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
